/**************************************************************************************************
#FILE NAME : stylesInfo.css
#Written by: Daniel Zamora_Umaña.
#This code contains the styles used in the website information page.
#CREATED : 2016
#LAST ACTUALIZATION : 27/06/2017
#HTML5

**************************************************************************************************/

html {
  min-height: 100%;
  position: relative;
}

body {
    background: rgba(225, 225, 255, .2);
    margin: 0;
    margin-bottom: 10px;
}
/*-------------------------------Header Bar-----------------------*/
header {
    background: rgba(0, 0, 225, .4);
    height: 60px;
    width: 100%;
    margin:auto;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0,0,225,0.2);
}

header nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: block;
}

/*-------------------------------Header Bar-----------------------*/

/*-------------------------------Footer Bar-----------------------*/ 
footer {
    background: rgba(0, 0, 225, .4);
    height: 60px;
    width: 100%;
    position: relative;
    top: 400;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0,0,225,0.2);
}

footer nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

footer nav ul li {
    display: block;
}
/*-------------------------------Footer Bar-----------------------*/ 

/*---------------------------Logos & Images-----------------------*/ 
.image{
    height: 60px;
    width: 99%;
    display:relative;
    float:left;
}

.image2{
    height: 60px;
    width: 15%;
    display:inline-block;
    float:right;
}
.main {
    height: 700px;
}
/*---------------------------Logos & Images-----------------------*/ 

/*-------------------------------Buttons---------------------------*/  
.button {
    background-color: rgba(0, 0, 255, 0.8);
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size:1.25em;
    float: left;
    font-weight:600;
    margin: 24px 4px;
    border-radius: 8px;
}

/*-------------------------------Buttons---------------------------*/  

/**************************************************************************************************
#FILE NAME : stylesInfo.css
#Written by: Daniel Zamora_Umaña.
#This code contains the styles used in the website information page.
#CREATED : 2016
#LAST ACTUALIZATION : 27/06/2017
#HTML5

**************************************************************************************************/
